<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <div class="row" id="home_about">
        <form>
          <fieldset class="form-group">
            <label for="firstName">First Name</label>
            <input type="first_name" class="form-control" id="firstname" placeholder="First Name">
          </fieldset>
          <fieldset class="form-group">
            <label for="lastName">Last Name</label>
            <input type="last_name" class="form-control" id="lastname" placeholder="Last Name">
          </fieldset>
          <fieldset class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="phone_number" class="form-control" id="phonenumber" placeholder="Phone Number">
          </fieldset>
          <fieldset class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="email_address" class="form-control" id="emailaddress" placeholder="Email Address">
          </fieldset>
          <fieldset class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" placeholder="Date">
          </fieldset>
          <fieldset class="form-group">
            <label for="location">Location</label>
            <input type="location" class="form-control" id="location" placeholder="Location">
          </fieldset>
          <button type="submit" class="btn btn-primary">Request</button>
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>