<!-- Footer -->
	<div class="row">
		<div class="col-md-1" id="border"> </div>
		<div class="col-md-10"> 
			<footer class="text-center" id="bottom">
				<div class="row" id="facebook">
					<a href="https:\\www.facebook.com/">Facebook</a>
				</div>
				<div class="row" id="copyright">
					Copyright &copy; Fahrenheit Bikes 2016
				</div>
			</footer>
		</div>
		<div class="col-md-1" id="border"> </div>
	</div>